<footer class="site-footer">
    <div class="footer-nav">
        <div>
            <p class="logo-wrapper" align="left">
                <a href="/" aria-label="Go to the home page.">
                    <img class="footer-logo-image" src="/images/klepsydra_blue_logo.webp" alt="logo" width="100%" height="100%">
                </a>
            </p>
        </div>
        <div class="footer-ctas">
            <div class="community">
                <ul>
                    <li class="list-heading">Community Edition</li>
                    <li><a href="/#core">Klepsydra SDK</a></li>
                    <li><a href="/#robotics">Klepsydra Robotics Toolkit</a></li>
                    <li><a href="/#executor">Klepsydra SDK Tutorial</a></li>
                    <li><a href="/#ros-tutorial">Klepsydra Robotic Toolkit Tutorial</a></li>
                </ul>
            </div>
            <div class="products">
                <ul>
                    <li class="list-heading">Professional Edition</li>
                    <li><a href="https://klepsydra.com/high-performance-software-with-low-power-consumption-for-edge-data-centres/" target="_blank">Klepsydra SDK</a></li>
                    <li><a href="https://klepsydra.com/ai-on-the-edge/" target="_blank">Klepsydra AI</a></li>
                    <li><a href="https://klepsydra.com/klepsydra-ros-2-executor-a-ring-buffer-to-rule-them-all/" target="_blank">Klepsydra Robotic Toolkit</a></li>
                    <li><a href="https://klepsydra.com/klepsydra-for-gpu/" target="_blank">Klepsydra for GPU</a></li>
                </ul>
            </div>
            <div class="rrss">
                <ul>
                    <li class="list-heading">Social Media</li>
                    <li><a href="https://www.linkedin.com/company/klepsydra-technologies/" target="_blank">Linkedin</a></li>
                    <li><a href="https://twitter.com/KlepsydraTech" target="_blank">Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UCm3VbWMCTSUb452Yak85TMw" target="_blank">Youtube</a></li>
                    <li><a href="https://github.com/klepsydra-technologies" target="_blank">Github</a></li>
                </ul>
            </div>
            <div class="contact">
                <ul>
                    <li class="list-heading">Contact</li>
                    <li><a href="mailto:sales@klepsydra.com">support@klepsydra.com</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>
            © Copyright 2019-2023, Klepsydra Technologies, all rights reserved. Licensed under the terms in
            <a href="https://github.com/klepsydra-technologies/kpsr-core/blob/main/LICENSE.md " target="_blank">LICENSE.md</a>
        </p>
        <p>
            This software and documentation are Copyright 2019-2023, Klepsydra Technologies Limited and its licensees. All rights reserved. See
            <a href="https://github.com/klepsydra-technologies/kpsr-core/blob/main/LICENSE.md " target="_blank">license file</a>
            for full copyright notice and license terms.
        </p>
    </div>
</footer>
