<div>
    <div class="navigation">
        <div>
            <p class="logo-wrapper" align="left">
                <a href="/">
                    <img class="logo-image" width="30%" height="15%" src="/images/klepsydra_logo.png">
                </a>
            </p>
        </div>
        <nav class="links">
            <a href="/#installation" class="btn-primary">Installation</a>
            <a href="/#tutorials" class="btn-primary">Tutorials</a>
            <a href="/#news" class="btn-primary">News</a>
            <a href="https://klepsydra.com/" target="_blank" class="btn-secondary">Klepsydra.com</a>
        </nav>
    </div>
</div>
