<p>
    This repository provides ROS-independent and high-performance enhancements to applications using ROS, MAVROS and specially
    <a href="https://opencv.org/" target="_blank">OpenCV</a>.
</p>

<div class="language-bash highlighter-rouge">
    <pre class="highlight"><code>git clone https://github.com/klepsydra-technologies/kpsr-robotics.git</code></pre>
</div>

<p>
    Then follow the installation instruction provided in the
    <a href="https://github.com/klepsydra-technologies/kpsr-robotics/blob/master/README.md" target="_blank">readme file</a>.
</p>


This repository contains:

<ul>
    <li>ROS independent Geometry messages</li>
    <li>ROS independent Lidar messages</li>
    <li>OpenCV high performance in-memory communications.</li>
    <li>ROS, DDS and ZMQ middleware bindings</li>
</ul>
