<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">
    <title>Archived</title>
    <meta name="description" content="The Klepsydra.org archived is a list of all the news.">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V11CG5BFH1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.analytics.google.measurement_id }}');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6600cc">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="/images/klepsydra-favicon-32.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/news.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
<header class="page-header" role="banner">
    {% include head.html %}
    <h1 class="head-news-title">
        {{ page.title }}
    </h1>
</header>

<main id="content" class="main-content archived" role="main" style="min-height: 30rem">
    {{ content }}
</main>

{% include banner.html %}

{% include footer.html %}
</body>

</html>
