<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-H2LMHJYMYM"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-H2LMHJYMYM');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6600cc">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
<p align="left">
  <img width="15%" height="15%"src="./images/klepsydra_logo.png">
</p>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.repository_core_url }}" class="btn">Core GitHub Repository</a>
        <a href="{{ site.github.repository_robo_url }}" class="btn">Robotics GitHub Repository</a>
        <a href="{{ site.github.repository_tuto_url }}" class="btn">Tutorial GitHub Repository</a>
        <a href="{{ site.github.repository_visi_url }}" class="btn">Vision Tutorial GitHub Repository</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
<p align="right">
  <img width="15%" height="15%"src="./images/klepsydra_logo.jpg">
</p>
      </footer>
    </main>
  </body>
</html>
