<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <title>Klepsydra.org</title>
  <meta name="description" content="The Klepsydra.org home page provide a list of repositories that comprises Klepsydra comunity and their documentation.">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V11CG5BFH1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.analytics.google.measurement_id }}');
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#6600cc">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="/images/klepsydra-favicon-32.ico">
  <link rel="shortcut icon" href="/images/klepsydra-favicon-32.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="preload" href="/assets/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/assets/css/style.css"></noscript>
</head>

<body>
  <header class="page-header" role="banner">
    {% include head.html %}
    <div class="klebsydra-description">
      <p class="head-community">Klepsydra community</p>
      <p  class="head-title">An open source framework for high performance edge data processing</p>
      <p class="head-description">The goal of this is page is to provide information for the list of repositories that comprises Klepsydra Community and their documentation</p>
    </div>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}

    {% include banner.html %}

    {% include footer.html %}
  </main>
</body>

</html>
